<!DOCTYPE html>
<html>
<head>
  <title>Git Pretty</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-blue.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link href="/static/scripts/vis/dist/vis.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/scripts/vis/dist/vis.js"></script>
  <script src="/static/scripts/createCommitTree.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/graph.css">
  <script type="text/javascript">
    var commits = {{commits}};
    $(document).ready(processCommits);
  </script>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header main-page">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{owner}}/{{repo}}</span>
      </div>
    </header>
    <div>
      <div id="graph">
      </div>
      <div class="page-content">
        <div id="inspector">
          <div class="mdl-card mdl-shadow--2dp commit-card">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Commit</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="commit-info">
                <span class="bold dark">Committer: </span><span id="committer">No commit selected</span>
              </div>
              <div class="commit-info">
                <span class="bold dark">Sha1 Hash: </span><span id="commit_sha">No commit selected</span>
              </div>
              <div class="commit-info">
                <span class="bold dark">Commit Message: </span><span id="commit_message">No commit selected</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>